 .score__container {
    background-color:#D98825;
    display: flex;

    width: 200px;
    border: 2px #141414 solid;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 80%;
    border: 2px #ffffff solid;
    border-radius: 20px;
}

.users__container {
    width: 800px;
    border: 2px #D98825 solid;
    background-color: #20316a;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
    padding: 30px;
}



h2 {
    color: #141414;
}
